In [1]:
import os
import pandas as pd
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [2]:
path = os.getcwd()+"/monthly"

In [3]:
from os import walk
dirs = []
for (dirpath, dirnames, filenames) in walk(path):
    dirs = dirnames
    break

In [10]:
dirsfull = [path+"/"+s+"/361420861_T_ONTIME_REPORTING.csv" for s in dirs]

In [ ]:
display(dirsfull)

In [12]:
df = pd.concat((pd.read_csv(i) for i in dirsfull))

In [ ]:
#df = pd.concat((pd.read_csv(f) for f in os.listdir(os.getcwd()) if f.endswith('csv')))

In [13]:
df.shape

(5504724, 30)

In [14]:
df = df.drop(df.columns.values[29],axis=1)

In [24]:
df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2017,9,5,2,2017-09-05,UA,N76522,1915,RNO,SFO,530,530.0,0.0,8.0,6.0,641,625.0,-16.0,0.0,NaN,0.0,71.0,55.0,41.0,NaN,NaN,NaN,NaN,NaN
1,2017,9,5,2,2017-09-05,UA,N73445,1916,IAH,SAN,1830,1827.0,-3.0,12.0,2.0,1943,1922.0,-21.0,0.0,NaN,0.0,193.0,175.0,161.0,NaN,NaN,NaN,NaN,NaN
2,2017,9,5,2,2017-09-05,UA,N418UA,1916,LAS,IAH,1125,1144.0,19.0,15.0,4.0,1634,1633.0,-1.0,0.0,NaN,0.0,189.0,169.0,150.0,NaN,NaN,NaN,NaN,NaN
3,2017,9,5,2,2017-09-05,UA,N489UA,1917,DEN,TUL,2003,2001.0,-2.0,14.0,6.0,2248,2232.0,-16.0,0.0,NaN,0.0,105.0,91.0,71.0,NaN,NaN,NaN,NaN,NaN
4,2017,9,5,2,2017-09-05,UA,N12218,1917,MSP,DEN,1640,1638.0,-2.0,18.0,7.0,1756,1740.0,-16.0,0.0,NaN,0.0,136.0,122.0,97.0,NaN,NaN,NaN,NaN,NaN

In [25]:
df.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,5504724.0,5504724.0,5.504724e+06,5.504724e+06,5.504724e+06,5.504724e+06,5.321808e+06,5.321784e+06,5.321028e+06,5.318940e+06,5.504724e+06,5.318940e+06,5.311116e+06,5.504724e+06,5.504724e+06,5.504724e+06,5.311116e+06,5.311116e+06,706968.000000,706968.000000,706968.000000,706968.000000,706968.000000
mean,2017.0,9.0,1.562744e+01,4.002457e+00,2.135145e+03,1.323425e+03,1.324375e+03,5.301007e+00,1.651222e+01,7.251818e+00,1.490545e+03,1.474473e+03,-5.556120e-01,3.344691e-02,1.724337e-03,1.443824e+02,1.382595e+02,1.145012e+02,20.317310,2.370846,15.118070,0.071562,21.702787
std,0.0,0.0,8.573997e+00,1.961797e+00,1.750328e+03,4.832590e+02,4.928556e+02,3.523900e+01,8.713632e+00,5.544464e+00,5.064497e+02,5.185332e+02,3.710368e+01,1.798005e-01,4.148933e-02,7.616252e+01,7.559595e+01,7.331704e+01,59.322475,21.921402,32.858577,1.830035,43.233774
min,2017.0,9.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-2.340000e+02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-2.380000e+02,0.000000e+00,0.000000e+00,2.200000e+01,1.600000e+01,7.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.0,9.0,8.000000e+00,2.000000e+00,7.520000e+02,9.100000e+02,9.130000e+02,-6.000000e+00,1.100000e+01,4.000000e+00,1.106000e+03,1.056000e+03,-1.600000e+01,0.000000e+00,0.000000e+00,8.800000e+01,8.200000e+01,6.000000e+01,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2017.0,9.0,1.600000e+01,4.000000e+00,1.666000e+03,1.315000e+03,1.319000e+03,-3.000000e+00,1.400000e+01,6.000000e+00,1.518000e+03,1.510000e+03,-8.000000e+00,0.000000e+00,0.000000e+00,1.250000e+02,1.180000e+02,9.400000e+01,1.000000,0.000000,2.000000,0.000000,0.000000
75%,2017.0,9.0,2.300000e+01,6.000000e+00,2.959000e+03,1.729000e+03,1.732000e+03,2.000000e+00,1.900000e+01,9.000000e+00,1.915000e+03,1.911000e+03,3.000000e+00,0.000000e+00,0.000000e+00,1.760000e+02,1.700000e+02,1.450000e+02,18.000000,0.000000,19.000000,0.000000,26.000000
max,2017.0,9.0,3.000000e+01,7.000000e+00,7.439000e+03,2.359000e+03,2.400000e+03,1.816000e+03,1.830000e+02,1.770000e+02,2.359000e+03,2.400000e+03,1.810000e+03,1.000000e+00,1.000000e+00,6.550000e+02,7.000000e+02,6.400000e+02,1810.000000,1023.000000,1083.000000,123.000000,1060.000000

In [16]:
df.to_csv("alldata.csv", index=False)

Top 30 largest airports from here: https://en.wikipedia.org/wiki/List_of_the_busiest_airports_in_the_United_States

In [22]:
top30 = ["ATL","LAX","ORD","DFW","DEN","JFK","SFO","LAS","SEA","CLT",
         "EWR","MCO","PHX","MIA","IAH","BOS","MSP","DTW","FLL","PHL",
         "LGA","BWI","SLC","DCA","IAD","SAN","MDW","TPA","HNL","PDX"]

In [34]:
dftop30 = df[df['ORIGIN'].isin(top30)]
dftop30.shape

(3726396, 29)

In [35]:
dftop30.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1,2017,9,5,2,2017-09-05,UA,N73445,1916,IAH,SAN,1830,1827.0,-3.0,12.0,2.0,1943,1922.0,-21.0,0.0,NaN,0.0,193.0,175.0,161.0,NaN,NaN,NaN,NaN,NaN
2,2017,9,5,2,2017-09-05,UA,N418UA,1916,LAS,IAH,1125,1144.0,19.0,15.0,4.0,1634,1633.0,-1.0,0.0,NaN,0.0,189.0,169.0,150.0,NaN,NaN,NaN,NaN,NaN
3,2017,9,5,2,2017-09-05,UA,N489UA,1917,DEN,TUL,2003,2001.0,-2.0,14.0,6.0,2248,2232.0,-16.0,0.0,NaN,0.0,105.0,91.0,71.0,NaN,NaN,NaN,NaN,NaN
4,2017,9,5,2,2017-09-05,UA,N12218,1917,MSP,DEN,1640,1638.0,-2.0,18.0,7.0,1756,1740.0,-16.0,0.0,NaN,0.0,136.0,122.0,97.0,NaN,NaN,NaN,NaN,NaN
5,2017,9,5,2,2017-09-05,UA,N412UA,1918,DEN,BZN,1520,1516.0,-4.0,8.0,4.0,1703,1643.0,-20.0,0.0,NaN,0.0,103.0,87.0,75.0,NaN,NaN,NaN,NaN,NaN

In [36]:
dftop30.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,3726396.0,3726396.0,3.726396e+06,3.726396e+06,3.726396e+06,3.726396e+06,3.599952e+06,3.599940e+06,3.599460e+06,3.598224e+06,3.726396e+06,3.598224e+06,3.592992e+06,3.726396e+06,3.726396e+06,3.726396e+06,3.592992e+06,3.592992e+06,499860.000000,499860.000000,499860.000000,499860.000000,499860.000000
mean,2017.0,9.0,1.561987e+01,4.008463e+00,1.966284e+03,1.363830e+03,1.364181e+03,5.598327e+00,1.811831e+01,7.032416e+00,1.530636e+03,1.511486e+03,-6.103248e-01,3.415740e-02,1.642338e-03,1.565866e+02,1.502524e+02,1.251085e+02,19.640883,2.577290,15.108918,0.080807,20.197575
std,0.0,0.0,8.579846e+00,1.963574e+00,1.645407e+03,4.861552e+02,4.959237e+02,3.347852e+01,9.179694e+00,5.500734e+00,5.163378e+02,5.307294e+02,3.565098e+01,1.816334e-01,4.049248e-02,8.018757e+01,7.982867e+01,7.756062e+01,50.612075,23.176601,30.768109,2.050101,42.017670
min,2017.0,9.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-2.340000e+02,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-2.380000e+02,0.000000e+00,0.000000e+00,3.800000e+01,2.800000e+01,1.200000e+01,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.0,9.0,8.000000e+00,2.000000e+00,7.050000e+02,9.410000e+02,9.410000e+02,-6.000000e+00,1.200000e+01,4.000000e+00,1.135000e+03,1.124000e+03,-1.600000e+01,0.000000e+00,0.000000e+00,9.500000e+01,9.000000e+01,6.600000e+01,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2017.0,9.0,1.600000e+01,4.000000e+00,1.569000e+03,1.343000e+03,1.344000e+03,-3.000000e+00,1.600000e+01,6.000000e+00,1.550000e+03,1.541000e+03,-8.000000e+00,0.000000e+00,0.000000e+00,1.390000e+02,1.310000e+02,1.060000e+02,1.000000,0.000000,3.000000,0.000000,0.000000
75%,2017.0,9.0,2.300000e+01,6.000000e+00,2.503000e+03,1.750000e+03,1.756000e+03,2.000000e+00,2.100000e+01,8.000000e+00,1.945000e+03,1.942000e+03,3.000000e+00,0.000000e+00,0.000000e+00,1.930000e+02,1.870000e+02,1.600000e+02,20.000000,0.000000,20.000000,0.000000,24.000000
max,2017.0,9.0,3.000000e+01,7.000000e+00,7.439000e+03,2.359000e+03,2.400000e+03,1.427000e+03,1.830000e+02,1.330000e+02,2.359000e+03,2.400000e+03,1.401000e+03,1.000000e+00,1.000000e+00,6.550000e+02,7.000000e+02,6.400000e+02,1401.000000,1023.000000,995.000000,123.000000,1060.000000

In [37]:
dftop30.to_csv("top30data.csv",index=False)